.icon-left {
  position: absolute;
  top: 10px;
  left: 10px;
}

.season-display {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

.summer {
  background-color: yellow;
}

.winter {
  background-color: aliceblue;
}
